# Thermo Sensor
DHT_PIN=<DHT_PIN>
DHT_TYPE=<DHT_TYPE>

# Smart Meter
MODBUS_PORT=<MODBUS_PORT>

# CT Sensor
ARDUINO_PORT=<ARDUINO_PORT>

# Uploader
SENSOR=<SENSOR>
GATEWAY=<GATEWAY>
ENDPOINT=<ENDPOINT>
TOKEN=<TOKEN>